html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Staatliches", sans-serif;
    overflow-x: hidden;
}

.sidebar {
    grid-area: sidebar;
    background-color: #F9EFE6;
    overflow-y: auto;
}

.map {
    grid-area: map;
    background-color: #d0cfd4;
}

.tray {
    background-color: #F9EFE6;
    grid-area: tray;
    overflow-y: auto;
}

.tray-container {
    width: 100%;
    height: 100%;
}

.tray-content {
    background-color:#F9EFE6;
    border: none;
    border-radius: 0;
    height: 100%;
}

.report-attributes {
    grid-area: report-attributes;
}

#report-attributes-list {
    font-size: 1rem;
}
.report-indicator-time-series {
    grid-area: report-indicator-time-series;
}
.report-indicator-bar {
    grid-area: report-indicator-bar;
}


.report-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content repeat(2, minmax(250px, max-content));
    grid-template-areas: "report-attributes" 
                         "report-indicator-time-series" "report-indicator-bar";
    overflow-y: auto;
    row-gap: 8px;
    padding: 0;
}
.report-container > div {
    background-color:#F9EFE6;
}

.wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% auto 0px;
    grid-template-areas: "sidebar" "map" "tray";
    width: 100vw;
    height: 100vh;
}

.box {
    color: #121212;
    padding: 10px;
    font-size: 1.25rem;
    z-index: 1;
}

@media only screen and (min-width: 576px) {
    .wrapper {
        grid-template-columns: minmax(300px, 25%) auto;
        grid-template-rows: auto 0px;
        grid-template-areas: "sidebar  map"
                             "sidebar  tray";
    }
    #report-attributes-list {
        font-size: 1.5rem;
    }
    .report-container {
        grid-template-columns: repeat(3, minmax(280px, 1fr));
        grid-template-rows: minmax(180px, 90%);
        grid-template-areas: "report-attributes report-indicator-time-series report-indicator-bar";
        column-gap: 5px;
    }
}

#map {
    height: 100%;
    width: 100%;
}
#d3MapContainer {
    display: none;
}

.accordion-button {
    background-color: #f9efe6;
    font-size: 1.5rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.accordion-body {
    background-color: #f9efe6;
    font-size: 1.25rem;
}

#regimeLabel {
    color: white;
    padding: .25em;
    margin-left: .5em;
}

.c3-tooltip th {
    background-color: #1b1919 !important;
    letter-spacing: .2em;
}

#metadataBody {
    font-family: "Optima", sans-serif;
}

#aut {
    background-color:#8d455a;
    padding: .25em;
    color: white;
}

#elAut {
    background-color:#f4a582;
    padding: .25em;
    color: white;
}

#elDem {
    background-color:#92c5de;
    padding: .25em;
    color: white;
}

#dem {
    background-color:#486689;
    padding: .25em;
    color: white;
}

#regimeList li {
    margin: .3em 0;
}

.legendImg {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#modalContent {
    background-color:#F9EFE6
}