.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 37%;
    /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    left: 0;
    padding-top: 5px;
}

/* .col:hover, .col-4:hover, .col-md-auto:hover {
    background: grey;
} */

#row1 {
    height: 3em;
}
#details {
    z-index: 999;
}

#details .title {
    font-size: 1.25vmin;
}

#d3ChoroLegend,
#d3BubbleLegend {
    /* margin-left: 10px; */
    margin: 10px 0 0 10px;
}

#d3Chart {
    margin: 10px 0 0 10px;
    /* margin-left: 10px; */
}

.texthalo {
    text-shadow: -1px -1px white, -1px 1px white, 1px 1px white, 1px -1px white, -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }